mixin icon(name, className)
  - var icon = require(`images/icons/${name}.svg`);
  svg(class=className viewBox=icon.viewBox preserveAspectRatio="none")
    use(xlink:href=icon.url)

mixin image(path, className)
  img(src=require(`images/${path}`) class=className)

mixin chart(className, percentage)
 
  svg(class=className viewbox="0 0 100 100" preserveAspectRatio="none")
    circle(cx="50" cy="50" r="40" class="circle circle_under")
    circle(cx="50" cy="50" r="40" class="circle circle_above" style=(`animation-delay: -${percentage}s`))
  
    